<div class="widget-wrapper" 
    ng-class="{
        'active-left': activeWidgets.left,
        'left-extended': activeWidgets.left.extended,
        'active-right': activeWidgets.right,
        'right-extended': activeWidgets.right.extended
    }">

    <div sd-widgets-sidebar
        data-item="item"
        data-side="'left'"
        data-display="widget_target"
        data-active="activeWidgets"></div>

    <div sd-widgets-sidebar
        data-item="item"
        data-side="'right'"
        data-display="widget_target"
        data-active="activeWidgets"></div>

    <div ng-transclude></div>
</div>
